<form class="form_container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="logo_container"></div>
    <div class="title_container">
      <p class="title">Login to your Account</p>
      <span class="subtitle">Get started with our app, just create an account and enjoy the experience.</span>
    </div>
    <br />
    <div class="input_container">
      <label class="input_label" for="email_field">Email</label>
      <svg fill="none" viewBox="0 0 24 24" height="24" width="24" class="icon">
        <!-- SVG PATH -->
      </svg>
      <input
        id="email_field"
        placeholder="name@mail.com"
        class="input_field"
        type="text"
        formControlName="email"
      />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        Valid email is required.
      </div>
    </div>
    <div class="input_container">
      <label class="input_label" for="password_field">Password</label>
      <svg fill="none" viewBox="0 0 24 24" height="24" width="24" class="icon">
        <!-- SVG PATH -->
      </svg>
      <input
        id="password_field"
        placeholder="Password"
        class="input_field"
        type="password"
        formControlName="password"
      />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Password must be at least 6 characters.
      </div>
    </div>
    <button type="submit" class="sign-in_btn" [disabled]="loginForm.invalid">
      <span>Sign In</span>
    </button>
    <div class="separator">
      <hr class="line" />
      <span>Or</span>
      <hr class="line" />
    </div>
    <button type="button" class="sign-in_ggl">
      <svg height="18" width="18" viewBox="0 0 32 32">
        <!-- SVG PATH -->
      </svg>
      <span>Sign In with Google</span>
    </button>
    <button type="button" class="sign-in_apl">
      <svg height="20" width="16" viewBox="0 0 256 315">
        <!-- SVG PATH -->
      </svg>
      <span>Sign In with Apple</span>
    </button>
    <p class="note">Terms of use &amp; Conditions</p>
  </form>
  